/bin
/.classpath
/.project
/finalListCompact.txt
/finalList.txt
/thresholdCount.txt
/thresholdCount_rlsimExecucao1Dados_K2_ARITHMETIC_MEAN.txt
/thresholdCount_rlsimExecucao1Dados_K1_ARITHMETIC_MEAN.txt
/thresholdCount_rlsimExecucao1DadosSimilaridade_K10_WEIGHTED_ARITHMETIC_MEAN.txt
/thresholdCount_rlsimExecucao1DadosSimilaridade_K1_ARITHMETIC_MEAN.txt
/thresholdCount_rlsimExecucao1DadosSimilaridade_K2_ARITHMETIC_MEAN.txt
/thresholdCount_rlsimExecucao1DadosSimilaridade_K2_WEIGHTED_ARITHMETIC_MEAN.txt
/thresholdCount_rlsimExecucao1DadosSimilaridade_K5_ARITHMETIC_MEAN.txt
/thresholdCount_rlsimExecucao1DadosSimilaridade_K5_WEIGHTED_ARITHMETIC_MEAN.txt
/thresholdCount_rlsimExecucao1DadosSimilaridade_K10_ARITHMETIC_MEAN.txt
