/bin
/.classpath
/.project
/finalListCompact.txt
/finalList.txt
/thresholdCount.txt
/thresholdCount_rlsimExecucao1Dados_K2_ARITHMETIC_MEAN.txt
/thresholdCount_rlsimExecucao1Dados_K1_ARITHMETIC_MEAN.txt
